input{
  float:left;

}
.form-group{
  width:100%;
}
.card,.domainlist{
  color: black;
  margin-left: auto;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  width: 55%;
  margin-top: 18px;
  margin-right:auto;
  /* float:left; */
  height:auto;
  overflow: hidden;
}

.card-header{
font-size: 14px;
color: rgb(48, 46, 46);
margin: 0;
text-align: left;
}
.tab{
  width:100%;
  height:auto;
  overflow:hidden;
  font-size:16px;
  margin-top:20px;
  border-bottom:1px solid;
  table-layout: initial;
}
.domform{
  width:100%;
}
.tab th{
  border: 1px solid rgb(175,175,175);
  padding: 5px 5px;
  font-size: 15px;
  background: #31708f;
  color: #fff;
}
.bg-header{
  background-color:#31708f;
}
.tab td{
  border: 1px solid rgb(175, 175, 175);
  padding: 10px 20px;
}

.tab tr:nth-child(even){
  background: rgb(247, 245, 245);
}
