<app-navigation></app-navigation>
<div class="card">
  <h5 class="card-header bg-header text-white">Message</h5>
  <div class="card-body">
    <table><tr><td>
  <label>Message</label></td><td>
  <textarea id="messageBox" ></textarea></td></tr>
  <tr><td></td><td></td></tr>
  <tr><td></td><td></td></tr>
  <tr><td></td><td></td></tr>
<tr><td></td><td> <button [disabled]="isSubmittedM" type="button" (click)="setMessage()"
  class="btn btn-primary">
  Submit
</button></td></tr></table>
</div>
</div>

