<app-navigation></app-navigation>
<div class="card">
  <h5 class="card-header bg-header text-white">Set Permission</h5>
  <div class="card-body">
    <table>
      <tr>
      <td>New Match (Tennis / Cricket / Soccer)</td>
      <td>
    <div class="form-check">
      <input class="form-check-input" type="checkbox" id="check1" name="option1" value="something" checked>
      <label class="form-check-label">View</label>
    </div>
    </td>
    <td>
    <div class="form-check">
      <input class="form-check-input" type="checkbox" id="check1" name="option1" value="something" checked>
      <label class="form-check-label">Add</label>
    </div>
    </td>
    <td>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" id="check1" name="option1" value="something" checked>
        <label class="form-check-label">Update</label>
      </div>
    </td>
    </tr>
    <tr>
      <td>New User</td>
      <td>
    <div class="form-check">
      <input class="form-check-input" type="checkbox" id="check1" name="option1" value="something" checked>
      <label class="form-check-label">View</label>
    </div>
    </td>
    <td>
    <div class="form-check">
      <input class="form-check-input" type="checkbox" id="check1" name="option1" value="something" checked>
      <label class="form-check-label">Add</label>
    </div>
    </td>
    <td>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" id="check1" name="option1" value="something" checked>
        <label class="form-check-label">Update</label>
      </div>
      </td>
    </tr>
    <tr>
      <td>New Website</td>
      <td>
    <div class="form-check">
      <input class="form-check-input" type="checkbox" id="check1" name="option1" value="something" checked>
      <label class="form-check-label">View</label>
    </div>
    </td>
    <td>
    <div class="form-check">
      <input class="form-check-input" type="checkbox" id="check1" name="option1" value="something" checked>
      <label class="form-check-label">Add</label>
    </div>
    </td>
    <td>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" id="check1" name="option1" value="something" checked>
        <label class="form-check-label">Remove</label>
      </div>
      </td>
    </tr>
  </table>
    </div>

</div>
