<app-navigation></app-navigation>
<div class="main">
  <h3 class="head">Soccer <small class="eventCount">Total Events: {{totalEvents}}</small></h3>
<table>
  <tr class="table-header">
      <th scope="col">#</th>
      <th scope="col">CMPT ID</th>
      <th scope="col">CMPT NAME</th>
      <th scope="col">CMPT REGION</th>
      <th scope="col">SPORT NAME</th>
      <th scope="col">EVENT COUNT</th>
      <th scope="col">MKT COUNT</th>
      <th scope="col">ACTION</th>
  </tr>
  <tr *ngFor="let item of matchesData;let i=index;">
      <td>{{i+1}}</td>
      <td>{{item['competition_id']}}</td>
      <td>{{item['name']}}</td>
      <td>{{item['competitionRegion']}}</td>
      <td>Soccer</td>
      <td>{{item['eventCount']}}</td>
      <td>{{item['marketCount']}}</td>
      <td><button (click)="showEvents(item)" type="button" class="showEvents">Show Events</button></td>
  </tr>
</table>
</div>
