<app-navigation></app-navigation>
<div class="main">
    <table  style="font-size:14px;">
            <tr class="table-header">
                <th scope="col">#</th>
                <th scope="col">EVENTID/EVENT NAME</th>
                <th scope="col">MARKET ID</th>
                <th scope="col" >MKT NAME</th>
            </tr>
            <tr>
                <tr style="overflow-x: auto;"  *ngFor="let item of marketData;let i= index">
                    <td >{{i+1}}</td>
                    <td style="text-align:center;"> {{id}} <br> {{eventName}} </td>
                    <td>{{item.market_id}}</td>
                    <td style="text-align: center;"> <span class="badge badge-pill badge-primary" style="padding:10px;font-size:12px;">{{item['market_name']}}</span></td>
            </tr>
    
        </table>
    </div>
