<app-navigation></app-navigation>
<div class="main">
    <h1 >ALL ACTIVE EVENTS</h1>
    <p id="pts">Cricket</p>
    
        <table  style="font-size:14px;">
            <tr class="table-header">
                <th scope="col">#</th>
                <th scope="col">EVENTID/EVENT NAME</th>
                <th scope="col">MARKET ID</th>
                <th scope="col">MKT NAME</th>
            </tr>
            <tr>
                <tr style="overflow-x: auto;"  *ngFor="let item of marketData;let i= index">
                    <td >{{i+1}}</td>
                    <td style="text-align:center;"> {{id}} <br> {{eventName}} </td>
                    <td>{{item.market_id}}</td>
                    <td>{{item.market_name}}</td>
            </tr>
    
        </table>
    </div>
